div {
    color-1: #051622;
    color-2: #1BA098;
    color-3: #DEB992;


    color-1: #001730;
    color-2: #4AD7D1;
    color-3: #FE4A49;

    color-1: #212221;
    color-2: #1181B2;
    color-3: #DDEDF4;
    color-4: #44449B;

    color-1: #dddfd4;
    color-2: #fae596;
    color-3: #3fb0ac;
    color-4: #173e43;

    color-1: #0E2C40;
    color-2: #1A4A5A;
    color-3: #148D8D;
    color-4: #C1E1A7;
    color-5: #EFBC75;

    color-1: #DE354C;
    color-2: #932432;
    color-3: #3C1874;
    color-4: #283747;
    color-5: #F3F3F3;

    color-1: #B73225;
    color-2: #004E7C;
    color-3: #591COB;
    color-4: #5C5F58;
    color-5: #DCE1E3;

    color-1: #202020;
    color-2: #3F3F3F;
    color-3: #707070;
    color-4: #FFDF6C;
    color-5: #FFFFFF;
    
    color-1: #164A41;
    color-2: #4D774E;
    color-3: #9DC88D;
    color-4: #F1B24A;
    color-5: #FFFFFF;

    color-1: #A3BCB6;
    color-2: #39603D;
    color-3: #3C403D;
    color-4: #DADED4;
    color-5: #FFFFFF;
}

Total: 12
nord_blue: 3
statusline_bg: 14
lightbg: 5
lightbg2: 4
grey_fg2: 5
white: 3
red: 5
yellow: 1
grey: 1
alt_bg: 1
green: 3
lightbg: 3
